# confirm file called
console.log("create.js.erb file");

# add new comment to end of comments section
$("#comments").append("<%= @comment.user.name %>: <%= @comment.content %>");

# remove current DOM element stating there are no comments yet (if no comments yet exist)
$("#comments h4").html(""); 

# replace comment form so user can only comment once (if desirable)
$(".comment_form").html("<h1>You have commented on this post</h1>");
